<div class="w-4/5 sm:h-screen mx-auto pt-10 py-5 flex items-center justify-center ">
  <div class="  bg-gray-700 max-w-3xl p-5 rounded sm:" *ngIf="!apiResponse.Error">
    <h1 class= "mb-5 text-4xl font-extrabold leading-none tracking-tight text-green-400 dark:text-white text-center sm:text-4xl sm:text-left md:text-5xl">{{apiResponse.Title}} ({{apiResponse.Year}})</h1>
    <div class="sm:flex justify-evenly ">
      <img src="{{apiResponse.Poster}}" alt="{{apiResponse.Title}} Poster" class=" w-3/5 min-w-50 h-auto mb-5 mx-auto sm:mr-5 rounded-md" *ngIf="apiResponse.Poster !== 'N/A'">
      <img src="../../assets/No-Image-Placeholder.svg" alt="No image"  class=" w-3/5 min-w-50 h-auto mb-5 mx-auto sm:mr-5 rounded-md " *ngIf="apiResponse.Poster === 'N/A'">
      <div>
        <h2 class="text-2xl text-green-500 font-bold my-2 sm:text-2xl" >Plot</h2>
        <p class="mb-4 text-base font-normal text-white md:text-lg">
        {{apiResponse.Plot}}
        </p>
        <div>
          <h3 class="text-2xl font-bold text-green-400 my-2 sm:text-2xl">Released</h3>
          <p class="text-lg font-normal text-white ">{{apiResponse.Released}}</p>
        </div>
        <div>
          <h3 class="text-2xl font-bold text-green-400 my-2 sm:text-2xl">Director</h3>
          <p class="text-white">{{apiResponse.Director}}</p>
        </div>
        <div class="flex justify-center sm:justify-start">
          <button class="bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-5" type="submit" (click)="onClick()">
            Look for a movie
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto w-full max-w-3xl bg-gray-700 shadow-md rounded p-10 text-center" *ngIf="apiResponse.Error">
    <h1 class="mb-10 text-4xl font-extrabold leading-none tracking-tight text-green-400 md:text-5xl lg:text-6xl dark:text-white">{{apiResponse.Error}}</h1>
    <p class="mb-4 text-lg font-normal text-white dark:text-gray-400 align-middle">Check out for typos!</p>
    <div>
      <button  class="bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-5" type="submit" (click)="onClick()">
        try again!
      </button>
    </div>
  </div>  
</div>
